
/* footer */
.Footer{
    width: 100%;
    height: 135px;
    background: rgb(92,171,237);
}
.Footer-Inner{
    width:95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}
.Footer-Inner-HomeBtn{
    width: 200px;
    height: 30px;
    margin-top: 25px;
    font-size:  19px;
    font-family: Quicksand, Avenir, Arial, "Hiragino Kaku Gothic ProN", YuGothic, "Yu Gothic", "Hiragino Sans", ヒラギノ角ゴシック, メイリオ, Meiryo, sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Footer-Homebtn-icon{
    padding-right: 5px;
    line-height: 30px;
}
.Footer-Inner-NavGroup{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-family: Helvetica, Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", メイリオ, Meiryo, sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
}
.Footer-Inner-NavGroup-NavText:nth-child(n+2){
    padding-left:15px;
}
.Footer-Inner-copyright{
    margin-top: 23px;
    font-family: Quicksand, Avenir, Arial, "Hiragino Kaku Gothic ProN", YuGothic, "Yu Gothic", "Hiragino Sans", ヒラギノ角ゴシック, メイリオ, Meiryo, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgb(255, 255, 255);
    opacity: 0.5;
}