
.Page{
    background-color: rgb(234,237,242);
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.Contents-SubContents{
    width:38%; 
}

.Contents-SubContents-Archive{
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
}
.Contents-SubContents-Archive-Title{
    width: 100%;
    height: 40px;
    background: rgb(201,229,254);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    font-family: Quicksand, Avenir, Arial, "Hiragino Kaku Gothic ProN", YuGothic, "Yu Gothic", "Hiragino Sans", ヒラギノ角ゴシック, メイリオ, Meiryo, sans-serif;
    color: rgb(95,171,244);
    padding: 10px;
    box-sizing: border-box;
}
#Archive-Title-icon{
    padding-right: 5px;
}
.Contents-SubContents-Archive-SelectBox{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    width: 100%;
    height: 50px;
    background: #fff;
    padding-left:15px;
    padding-right: 10px;
    box-sizing: border-box;
    font-family: Helvetica, Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", メイリオ, Meiryo, sans-serif;;

}
.Contents-SubContents-Archive-SelectBox-Text{
    font-size: 17px;
    font-weight: 400;
    color:rgb(93,108,127);
}
.Contents-SubContents-Archive-SelectBox-Icon{
    font-size: 28px;
    color: rgb(68, 68, 68);
}
