
.Page{
    background-color: rgb(234,237,242);
    font-family: Helvetica, Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", メイリオ, Meiryo, sans-serif;;
}
.Contents{
    display: flex;
    height: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.Contents-MainContents{
    width: 65%;
}
.Contents-SubContents{
    width:35%;
}

.Contents-SubContents-Profile-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    height: auto;
    margin-left: auto;
    margin-right: auto ;
    background: #fff;
}
.Contents-SubContents-Profile-Container-Img{
    width: 100%;
    height: 250px;
    background-image:url("./profile-01-min.png");
    background-size: cover;
}

.Contents-SubContents-Profile-Container-Icon{
    width: 80px;
    height: 80px;
    border: 2px  solid #fff;
    border-radius: 50%;
    background: #222; 
    margin-top: -40px;  
    margin-left: auto;
    margin-right: auto;
    background-image:url("./catnose.png");
    background-size: cover;
}
.Contents-SubContents-Profile-Container-Title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: Quicksand, Avenir, Arial, "Hiragino Kaku Gothic ProN", YuGothic, "Yu Gothic", "Hiragino Sans", ヒラギノ角ゴシック, メイリオ, Meiryo, sans-serif;
    font-weight: 700;  
    font-size: 22px;
}
.Contents-SubContents-Profile-Container-Text{
    width: auto;    
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: rgb(37,37,37);

}
.Contents-SubContents-Profile-Container-ShereBox{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:15px;
}
.Contents-SubContents-Profile-Container-Sherebox-SNSIcon{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: skyblue;
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
    margin: 5px;
}
#twitter{
    background: rgb(66,182,252);
}
#facebook{
    background:rgb(64,144,244);	
}
#instagram{
        position: relative;
        display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
        background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
        background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
        overflow: hidden;   
}
#instagram::before{
    content: '';
    position: absolute;
    top: 23px;
    left: -18px;
    width: 60px;
    height: 60px;
    background: -webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
    background: radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
}
#Rss{
    background: rgb(118,215,107);
}
.Contents-SubContents-Profile-Container-Sherebox-SNSIcon:hover{
    opacity: 0.7;
}
