.Header{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    background:rgba(92,171,237,1);
    box-shadow: 0px 3px 6px rgba(0,0,0,0.18);
}
.Header-Inner{
    max-width: 1200px;
    width: 90%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Heder-Inner-LogoGroup{
    height: 50px;
    display: flex;
    justify-content: flex-start;
}
.Heder-Inner-LogoGroup-Logo{
    width: 40px;
    height: 53px;    
    object-fit: cover;
}
.Heder-Inner-LogoGroup-LogoTitle{
    margin-top: 12px;
    margin-left: 5px;
    font-size: 28px;
    font-weight: 450;
    color: rgb(255, 255,255);
    letter-spacing: 4px;
    font-family:Avenir, Arial, "Hiragino Kaku Gothic ProN", YuGothic, "Yu Gothic", "Hiragino Sans", ヒラギノ角ゴシック, メイリオ, Meiryo, sans-serif;;
}

.Heder-Inner-NavGroup{
    margin-left: auto;
    display: flex;
    font-family: Helvetica, Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", メイリオ, Meiryo, sans-serif;;
}
.Heder-Inner-NavGroup-NavItem{
    display: flex;
    justify-content: flex-end;
    align-items: center;    
    color: rgb(210,229,249);
    font-size: 16px;
    margin-right: 24px;
}
.Heder-Inner-NavGroup-NavItem:nth-child(n+3){
    margin-right: 18px;
}

.Heder-Inner-NavGroup-NavItem-text{
    margin-left: 7px;
    color: rgb(255, 255,255);
    font-size: 15px;
    font-weight: 600;
}