
.Page{
    background-color: rgb(234,237,242);
    height: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.Contents-MainContents{
    width: 62%;
}
.Contents-SubContents{
    width: 38%;
    display: flex;
    justify-content: center;
}
.Contents-SubContents-FollowMeGroup{
    width: 100%;
    height: auto;
    padding: 60px;
}
.Contents-SubContents-FollowMeGroup-Title{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgb(201,229,254);
    padding: 10px;
    font-family: Quicksand, Avenir, Arial, "Hiragino Kaku Gothic ProN", YuGothic, "Yu Gothic", "Hiragino Sans", ヒラギノ角ゴシック, メイリオ, Meiryo, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: rgb(105,176,245);
}
.Contents-SubContents-FollowMeGroup-Iconbox{
    width: 100%;
    height: 80px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:    10px;
}

.Contents-SubContents-FollowMeGroup-Iconbox-Sherebox-icon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #fff;
    font-size: 32px;
}
.Contents-SubContents-FollowMeGroup-Iconbox > * + * {
    margin-left: 15px;
}
#twitter{
    background: rgb(61,168,233);
}
#facebook{
    background:rgb(64,144,244);	
}
#instagram{
        position: relative;
        display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
        background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
        background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
        overflow: hidden;   
}
#instagram::before{
    content: '';
    position: absolute;
    top: 23px;
    left: -18px;
    width: 50px;
    height:50px;
    opacity: 0.4;
    background: -webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
    background: radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
}
#Rss{
    background: rgb(118,215,107);
}

.Contents-SubContents-FollowMeGroup-Iconbox-Sherebox-text{
    display: flex;
    justify-content: center;
    font-size: 11px;
    font-weight: 400;
    color: rgb(118,118,118);
    padding: 5px;
}