
/* Popular */

.Page{
    background-color: rgb(234,237,242);
    height: 500px;
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
}
.Contents-MainContents{
    width: 65%;
}
.Contents-SubContents{
    width:35%;
    display: flex;
    justify-content: center;
}
.Contents-SubContents-PopularGroup{
    margin-left: auto;
    margin-right: auto;
}
.Contents-SubContents-PopularGroup-Title{
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgb(201,229,254);
    padding: 15px;
    font-family: Quicksand, Avenir, Arial, "Hiragino Kaku Gothic ProN", YuGothic, "Yu Gothic", "Hiragino Sans", ヒラギノ角ゴシック, メイリオ, Meiryo, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: rgb(95,171,244);
    
}
.fas{
    padding-right: 10px;
}
.Contents-SubContents-PopularGroup-ArticleGroup{
    width: 380px;
    height: auto;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding-top: 10px;
    padding-left: 20px; 
    padding-right: 15px;
    padding-bottom:15px ;
    box-sizing: border-box;
}
.Contents-SubContents-PopularGroup-ArticleGroup-Contents{
    display: flex;
    align-items: center;
    padding: 5px;
}
.Contents-SubContents-PopularGroup-ArticleGroup-Contents:nth-child(n+2){
    margin-top: 10px;
}
.Contents-SubContents-PopularGroup-ArticleGroup-Contents-Catch{
    width: 80px;
    height: 70px;
    background: linear-gradient(90deg,rgb(183,187,253),rgb(166,186,253),rgb(140,185,252),rgb(111,185,252));
}
.Contents-SubContents-PopularGroup-ArticleGroup-Contents-Catch-No{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: -10px;
    margin-left: -10px;
    background: rgb(254,179,113);    
    color: #fff;
    font-weight: 400;
    font-family: Quicksand, Helvetica, Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", メイリオ, Meiryo, sans-serif;;
}

.Contents-SubContents-PopularGroup-ArticleGroup-Contents:nth-child(n+4) .Contents-SubContents-PopularGroup-ArticleGroup-Contents-Catch-No{
    background: rgb(243,243,243);
    color: rgb(154,154,154);
}
.Contents-SubContents-PopularGroup-ArticleGroup-Contents-TextGroup{
    width: 300px;
    height: 70px;
    padding-top: 10px;
    padding-left:  10px;
    padding-right: 10px;
    box-sizing:content-box;
}
.Contents-SubContents-PopularGroup-ArticleGroup-Contents-TextGroup-Text{
    font-size: 15px;
    font-family: Helvetica, Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", メイリオ, Meiryo, sans-serif;
    font-weight: 700;
    line-height: 22px;
}

.Contents-SubContents-PopularGroup-ArticleGroup-Contents-TextGroup-Subtext{
    padding: 2px;
    font-size: 13px;
    color: rgb(183,183,183);
}