* {
    box-sizing: border-box;
}
.Page{
    height: auto;
    background-color: rgb(234,237,242); 
}
/*CardGroup*/
.Contents{
    width: 100%;
    display: flex;
    font-family: Helvetica, Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", メイリオ, Meiryo, sans-serif;;
}
.Contents-MainContents{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Contents-MainContents > * + * {
    margin-top: 30px;
} 

.Contents-MainContents-TabGroup{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgb(135,135,135);
    font-size:16px;
    font-weight: 600;
    margin-top: 40px;   
    border-radius: 2px;
    overflow: hidden;    
    box-shadow: 3px 3px 3px rgb(209,211,216);  
}
.Contents-MainContents-TabGroup-TabItem{
    width: 50%;
    height: 45px;
    background: rgb(255, 255,255);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.Contents-MainContents-TabGroup-TabItem:first-child{
    background: linear-gradient(90deg,rgb(183,187,253),rgb(166,186,253),rgb(140,185,252),rgb(111,185,252));
    color: rgba(255, 255,255,0.9);
}
.Article-Titlebox-Titiletext{
    padding-left: 5px;
}

/* card Group*/
.Contents-MainContents-CardGroup{  
    width: 100%;  
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.Contents-MainContents-CardGroup-CardItem{
    width: calc((100% - 25px) / 2);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Contents-MainContents-CardGroup-CardItem:nth-child(2n){
    margin-left: 25px;
}
.Contents-MainContents-CardGroup-CardItem:nth-child(n+3){
    margin-top: 25px;
}

.Contents-MainContents-CardGroup-CardItem-Frame{
    width: 100%;
    height: auto;
    background: linear-gradient(90deg,rgb(172,218,252),rgb(137,201,248),rgb(135,182,246),rgb(137,175,252));
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box;
    text-align: center;
    color: rgb(255, 255,255);
}
.Contents-MainContents-CardGroup-CardItem-Frame::before{
    content: "";
    display: block;
    padding-top: 52.75%;
}
.Contents-MainContents-CardGroup-CardItem-Frame-Inner-CategoryBatch{
    height: 20px;
    background: rgb(95,171,244);
    display: flex;
    align-items: center;
    border-radius: 50px; 
    padding: 2px 5px;
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: Quicksand, Avenir, Arial, "Hiragino Kaku Gothic ProN", YuGothic, "Yu Gothic", "Hiragino Sans", ヒラギノ角ゴシック, メイリオ, Meiryo, sans-serif;
    font-weight: 500;
    font-size: 12px;

}

.Contents-MainContents-CardGroup-CardItem-Frame-Inner-NewBatch{
    height: 35px;
    background: rgb(254,179,113);
    border-radius: 10px;
    padding: 2px;
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 35px;
    font-family: Quicksand, Avenir, Arial, "Hiragino Kaku Gothic ProN", YuGothic, "Yu Gothic", "Hiragino Sans", ヒラギノ角ゴシック, メイリオ, Meiryo, sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.Contents-MainContents-CardGroup-CardItem-TextGroup{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 255,255);
    box-shadow: 3px 3px 3px rgb(209,211,216);  
    padding:  20px;

}
.Contents-MainContents-CardGroup-CardItem-TextGroup-DateTextItem{
    width: 100%;
    font-size: 14px;  
    color: rgb(181,181,181);
}
#C_M_C_C_T_Icon{
   margin-right: 10px;
}

.Contents-MainContents-CardGroup-CardItem-TextGroup-TitleTextItem{
    width: 100%;
    height: 3.5em;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 600;    
    line-height: 175%;
    overflow: hidden;
}

/* pagebtn */

.Contents-MainContents-NavBtnGroup{
    display: flex;
    justify-content: center;    
    margin-top: 80px;
    margin-bottom: 100px;
}


.Contents-MainContents-NavBtnGroup-BtnItem{
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    display: flex;  
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: rgb(95,171,244);
    font-weight: 700;
}
.Contents-MainContents-NavBtnGroup-BtnItem-fristBtn{
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    display: flex;  
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-weight: 700;
    background: rgb(95,171,244);  
    color: rgb(255, 255, 255);
}
.Contents-MainContents-NavBtnGroup-AngleBtnItem{
    display: flex;  
    align-items: center;
    justify-content: center;
    color: rgb(95,171,244);
    font-size: 24px;
}


