.Page{
    font-family: 'YuGothic';
    background-color: rgb(234,237,242);
}
.Header{
    width: 100%;
    height: 62px; 
    display: flex;
    justify-content: space-around;
    background:rgba(92,171,237,1);
    box-shadow: 0px 3px 6px rgba(0,0,0,0.18);
  
}
.Heder-Inner{

    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center; 

}

.Heder-Inner-Logo{
    width: 155px;
    height: 50px;
    background-color:#ddd;
}

.Heder-Inner-NavGroup{
    display: flex;
    justify-content: center;
    
}
.Heder-Inner-NavGroup-NavItem{
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;    
    color: rgb(210,229,249);
}
.Heder-Inner-NavGroup-NavItem-Icon{

}
.Heder-Inner-NavGroup-NavItem-text{
    margin-left: 5px;
    color: rgb(255, 255,255);
    font-weight: bold;
}


/*BigImage*/

.BigImage{
    width: 100%;
    background-color: rgb(234,237,242);
    display: flex;
    justify-content: center;
    align-items: center;   
    padding: 25px;
    box-sizing: border-box;

}
.BigImage-Inner{
    max-width: 1200px;
    width: 100%;
    height: 450px;
    background-color: rgb(149,210,239);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px;
    box-sizing: border-box;
}
.BigImage-Inner-TextGroup{
    color: #fff;
    
}
.BigImage-Inner-TextGroup-Title{
    font-size: 22px;
    font-weight: bold;
}
.BigImage-Inner-TextGroup-Text{
    margin-top: 10px;
    font-size: 17.5px;
    opacity: 0.9;
}
.BigImage-Inner-TextGroup-Btn{
    width: 150px;
    height: 50px;
    background-color: rgb(95,171,244);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px rgb(116,164,187);
    margin-top: 40px;
    font-size:18px;
}
.BigImage-Inner-TextGroup-Btn-Text{
    font-size:20px;
    padding-left: 5px; 
    font-weight:bolder;
    text-align:center; 
}
.BigImage-Inner-TextGroup-Btn:hover{
   box-shadow: 0px 6px 2px 3px rgb(117,165,188);  
    transition-duration:0.3s;
    transition-timing-function:ease-in-out;
}
/* Contents */

.Contents{
    width: 100%;
    display: flex;
}
.Contents-MainContents{
    width: 70%;
}

/* article */
.Contents-MainContents-Article{
    width: 100%;
    height: 700px;
}
.Contents-MainContents-Article-TitleBox{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(135,135,135);
    font-size:16px;
    font-weight: bolder;
    margin-top: 20px;   
    margin-left: 30px;
}
.Contents-MainContents-Article-Titlebox-Titile{
    width: 55%;
    height: 50px;
    background: rgb(255, 255,255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;

    box-shadow: 3px 3px 3px rgb(209,211,216);  
}
.Contents-MainContents-Article-Titlebox-Titile:first-child{
    background: linear-gradient(90deg,rgb(183,187,253),rgb(166,186,253),rgb(140,185,252),rgb(111,185,252));
    color: rgba(255, 255,255,0.9);
}
.Contents-MainContents-Article-Titlebox-Titile-text{
    margin-left: 5px;
}


.Contents-MainContents-PostArticleGroup{
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 40px;
}

.Contents-MainContents-PostArticleGroup-Article{
    width: 45%;
    height: 90%;
    box-shadow: 3px 3px 3px rgb(209,211,216);  
}
.Contents-MainContents-PostArticleGroup-Article:not(:nth-child(2n-1)){
    margin-left: 5%;
}
.Contents-MainContents-PostArticleGroup-Article:not(:nth-child(n+3)){
    margin-top: 5%;
}
.Contents-MainContents-PostArticleGroup-Article:nth-child(n+3){
    margin-top: 5%;
}
.Contents-MainContents-PostArticleGroup-Article:hover{
    margin-top: 1%;
    transition-duration:0.3s;
    transition-timing-function:ease-in-out;
}

.Contents-MainContents-PostArticleGroup-Article-Img{
    width: 100%;
    height: 80%;
    background: linear-gradient(90deg,rgb(172,218,252),rgb(137,201,248),rgb(135,182,246),rgb(137,175,252));
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    color: rgb(255, 255,255);
}
.Contents-MainContents-PostArticleGroup-Article-Img-Catch-a{
    height: 20px;
    margin-top: 10px;
    background: rgb(95,171,244);
    border-radius: 50px;
    line-height: 20px;
    font-size: 12px;

}
.Contents-MainContents-PostArticleGroup-Article-Img-Catch-b{
    width: 35px;
    height: 35px;
}
.Contents-MainContents-PostArticleGroup-Article-Img-Catch-NewItems{
    width: 35px;
    height: 35px;
    background: rgb(254,179,113);
    border-radius: 5px;
    margin-top: 10px;
    line-height: 35px;
    font-weight: bold;
    font-size: 12px;
}
.Contents-MainContents-PostArticleGroup-Article-TextGroup{
    height:  20%;
    background: rgb(255, 255,255);
    box-shadow: 3px 3px 3px rgb(209,211,216);  
    padding: 10px;
}
.Contents-MainContents-PostArticleGroup-Article-TextGroup-SubText{
    font-size: 14px;  
    display: flex;
    color: gray;
}
.Contents-MainContents-PostArticleGroup-Article-TextGroup-SubText-Date{
    margin-left: 5%;
}

.Contents-MainContents-PostArticleGroup-Article-TextGroup-MainText{
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
}


.Contents-MainContents-PageBtnGroup{
    display: flex;
    justify-content: center;    
    margin-top: 900px;
}
.Contents-MainContents-PageBtnGroup-inner{
    display: flex;  
    justify-content: center;
    margin-left: 5%;
}
.Contents-MainContents-PageBtnGroup-btn{
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    display: flex;  
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    color: rgb(95,171,244);
    font-weight: bold;
}
.Contents-MainContents-PageBtnGroup-btn:first-child{
    background: rgb(95,171,244);  
    color: rgb(255, 255, 255);
}
.Contents-MainContents-PageBtnGroup-angle{
    display: flex;  
    align-items: center;
    justify-content: center;
    color: rgb(95,171,244);
    font-size: 24px;
}
.Contents-MainContents-PageBtnGroup-btn:hover:nth-child(n+2){
    background: rgb(192,219,243);
}
.Contents-MainContents-PageBtnGroup-angle:hover{
    opacity: 0.5;
}
.aa{
    height: 500px;
}

.Contents-SubContents{
    width: 35%;

}
.Contents-SubContents-Inner{
    width: 100%;
    margin-top: 5%;
}

.Contents-SubContents-Inner-SeachBox{
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
 
}
.Contents-SubContents-Inner-SeachText{
    width: 70%;
    background: #fff;   
    border: 1px solid gray;
}

.Contents-SubContents-Inner-SeachIcon{
    width: 50px;
    background: rgb(95,171,244);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    box-sizing: border-box;
}


.Contents-SubContents-Profile-Container{
    width: 300px;
    height: 100%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto ;
}
.Contents-SubContents-Profile-Container-Img{
    width: 100%;
    height: 300px;
    background: red;

}
.Contents-SubContents-Profile-Container-Icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: red; 
    margin-top: -60px;  
    margin-left: auto;
    margin-right: auto;
}
.Contents-SubContents-Profile-Container-Title{
    width: 100px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Contents-SubContents-Profile-Container-Text{
    width: auto;
    font-size: 20px;
}
.Contents-SubContents-Profile-Container-Sherebox{
    width: 100px;
}


