
/* footer Contents */
.FooterContents{
    width: 100%;
    height: auto;
    background: rgb(224,228,235);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 20px;
    
}
.FooterContents-Inner{
    width:92%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    font-family: Helvetica, Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", メイリオ, Meiryo, sans-serif;;
}
.FooterContents-Inner > * + * {
    margin-left: 5%;
}
.FooterContents-Inner-CloumGroup{
    width: calc(( 100% - 10% ) / 3 );
    height: auto;
    display: flex;
    flex-direction: column; 
}


.FooterContents-Inner-Inner-SearchTextInput:focus{
    outline: none;
}
.FooterContents-Inner-Cloum-SearchBar{
    width: 350px;
    height: auto;
    display: flex;
}
.FooterContents-Inner-Inner-SearchTextInput{
    width: 300px;
    height: 43px;
    border: none;  
    padding-left: 15px;
    box-sizing: content-box;
    font-size: 18px;
    font-weight: 300;
    color: rgb(177,177,177);
    box-sizing: border-box;
}
.FooterContents-Inner-Inner-SearchIcon{
    width: 43px;
    height: 43px;
    background: rgb(95,171,244);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 22px;
}
.FooterContents-Inner-Inner-SearchIcon:focus{
    outline: none;
}




.FooterContents-Inner-CloumGroup-PageGroup{
    font-weight: Helvetica, Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", メイリオ, Meiryo, sans-serif;
}
.FooterContents-Inner-CloumGroup-PageGroup-PageTitleItem{
    width: 350px;
    height: 35px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 40px;
    border-left: 3px solid rgb(60,60,60);
    font-size: 19px;
    font-weight: bold;
    font-family: Quicksand, Avenir, Arial, "Hiragino Kaku Gothic ProN", YuGothic, "Yu Gothic", "Hiragino Sans", ヒラギノ角ゴシック, メイリオ, Meiryo, sans-serif;
    color: rgb(60,60,60);

    padding: 10px;
    box-sizing: border-box;
}
.FooterContents-Inner-CloumGroup-PageGroup-PageContentsItem{
    margin-top: 25px;
    font-size: 16px;
    font-weight: 700;
    color: rgb(101,102,104);
}
.FooterContents-Inner-CloumGroup-PageGroup-PageContentsItem:hover{
    text-decoration: underline;
}

/*RECENTPOSTS*/

.FooterContents-Inner-cloum-RecentPostsGroup{
    display: flex;
    flex-direction: column;
}
.FooterContents-Inner-cloum-RecentPostsGroup-TextTitle{
    width: 350px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-left: 3px solid rgb(60,60,60);
    font-size: 19px;
    font-weight: bold;
    font-family: Quicksand, Avenir, Arial, "Hiragino Kaku Gothic ProN", YuGothic, "Yu Gothic", "Hiragino Sans", ヒラギノ角ゴシック, メイリオ, Meiryo, sans-serif;
    color: rgb(60,60,60);

    padding: 10px;
    box-sizing: border-box;
}
.FooterContents-Inner-cloum-RecentPostsGroup-Frame{
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
}
.FooterContents-Inner-cloum-RecentPostsGroup-Frame:hover .FooterContents-Inner-cloum-RecentPostsGroup-Frame-TextGroup {
    opacity: 0.8;
}
.FooterContents-Inner-cloum-RecentPostsGroup-Frame:hover .FooterContents-Inner-cloum-RecentPostsGroup-Frame-img {
    transform: scale(1.05);
}
.FooterContents-Inner-cloum-RecentPostsGroup-Frame-img{
    width: 80px;
    height: 80px;
    background-color: rgb(150,207,250);
}
.FooterContents-Inner-cloum-RecentPostsGroup-Frame-TextGroup{
    height: 28px;
    line-height: 20px;
    padding: 10px;
}
.FooterContents-Inner-cloum-RecentPostsGroup-Frame-TextGroup-TextTitleItem{
    font-size: 14px;
    font-weight: 700;
    color: rgb(101, 102, 104);
}
.FooterContents-Inner-cloum-RecentPostsGroup-Frame-TextGroup-TextDateItem{
    margin-top: 2px;
    font-size: 12px;
    color: rgb(193,194,196);
}

/*category*/

.FooterContents-Inner-cloumGroup-Category{
    margin-left: auto;
    margin-right: auto;
}
.FooterContents-Inner-cloumGroup-Category-TitleItem{
    width: 350px;
    height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-left: 3px solid rgb(60,60,60);
    font-size: 19px;
    font-weight: bold;
    font-family: Quicksand, Avenir, Arial, "Hiragino Kaku Gothic ProN", YuGothic, "Yu Gothic", "Hiragino Sans", ヒラギノ角ゴシック, メイリオ, Meiryo, sans-serif;
    color: rgb(60,60,60);

    padding: 10px;
    box-sizing: border-box;
}
#Category-Title-icon{
    padding-right: 5px;
    line-height: 50px;
}
.FooterContents-Inner-cloumGroup-Category-ContentsBox{
    width: 350px;
    height: 310px;
    box-sizing: border-box;
    font-family: Helvetica, Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", メイリオ, Meiryo, sans-serif;;
}

.FooterContents-Inner-cloumGroup-Category-ContentsBox-Inner{
    margin-top: 20px;
    
}
.FooterContents-Inner-cloumGroup-Category-ContentsBox-Inner-package{
    display: flex;
}
.FooterContents-Inner-cloumGroup-Category-ContentsBox-Inner-package:nth-child(n+2){
    padding-top: 25px;
}
.FooterContents-Inner-cloumGroup-Category-ContentsBox-Inner-Title{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    font-weight: 600;
    color: rgb(98,98,98);
}
.FooterContents-Inner-cloumGroup-Category-ContentsBox-Inner-Title:hover{
    text-decoration: underline;
}

#FooterContents-Inner-cloumGroup-Category-ContentsBox-Inner-MenuIcon{
    padding-right: 5px;
    color: rgb(101, 102, 104);
}
.FooterContents-Inner-cloumGroup-Category-ContentsBox-Inner-MenuText{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(102,102,102);
}

