
.Page{
    background-color: rgb(234,237,242);
    height: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.Contents-SubContents{
    width:32%; 
}

.Contents-SubContents-Category{
    margin-left: auto;
    margin-right: auto;
}
.Contents-SubContents-Category-Title{
    width: 350px;
    height: 45px;
    background: rgb(201,229,254);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 19px;
    font-weight: 500;
    font-family: Quicksand, Avenir, Arial, "Hiragino Kaku Gothic ProN", YuGothic, "Yu Gothic", "Hiragino Sans", ヒラギノ角ゴシック, メイリオ, Meiryo, sans-serif;
    color: rgb(95,171,244);
    padding: 10px;
    box-sizing: border-box;
}
#Category-Title-icon{
    padding-right: 5px;
    line-height: 50px;
}
.Contents-SubContents-Category-ContentsBox{
    width: 350px;
    height: auto;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    font-family: Helvetica, Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", メイリオ, Meiryo, sans-serif;;
}

.Contents-SubContents-Category-ContentsBox-Inner-package{
    display: flex;
    height: auto;
    padding: 10px;
}
.Contents-SubContents-Category-ContentsBox-Inner-package:hover{
    background: rgb(230, 230, 230);
}

.Contents-SubContents-Category-ContentsBox-Inner-Title{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 17px;
    font-weight: 600;
    color: rgb(98,98,98);
}
.Contents-SubContents-Category-ContentsBox-Inner-No{    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background: rgb(243,243,243);
    border-radius: 50%;
    margin-left: 5px;
    font-family: Quicksand, Avenir, Arial, "Hiragino Kaku Gothic ProN", YuGothic, "Yu Gothic", "Hiragino Sans", ヒラギノ角ゴシック, メイリオ, Meiryo, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgb(144, 144,144);
}
.Contents-SubContents-Category-ContentsBox-Inner-MenuIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    color: rgb(192, 192, 192);
}
.Contents-SubContents-Category-ContentsBox-Inner-MenuText{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;

    font-size: 14px;
    font-weight: 400;
    color: rgb(102,102,102);
}
.Contents-SubContents-Category-ContentsBox-Inner-MenuNo{    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background: rgb(243,243,243);
    border-radius: 50%;
    margin-left: 5px;
    font-size: 13px;
    font-weight: 400;
    color: rgb(144, 144,144);
}