.Page{
    height: 500px;
    background-color: rgb(234,237,242);
}
.Contents{
    display: flex;
}
.Contents-MainContents{
    width: 67%;
    height: auto;
}
/*Searchiber*/

.Contents-SubContents{
    width: 33%;
    height: auto;
    display: flex;
}
.Contents-SubContents-Inner{
    width: 100%;
    height: auto;
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    box-shadow: 0 8px 5px rgb(189,191,196);
    margin-right: 10%;
}

.Contents-SubContents-Inner-SeachTextItem{
    width: 100%;
    height: 45px;
    border: none; 
    box-sizing: border-box;   
    padding-left: 15px;

    font-size: 17px;
    font-weight: 300;
    color: rgb(177,177,177);
}

.Contents-SubContents-Inner-SeachIconItem{
    width: 45px;
    background: rgb(95,171,244);
    border: none;
    color: #fff;
    font-size: 22px;
    box-sizing: border-box; 
}
.Contents-SubContents-Inner-SeachTextItem:focus{
    outline: none;
}
.Contents-SubContents-Inner-SeachIconItem:focus{
    outline: none;border: none;
}
