
.Page{
    background-color: rgb(234,237,242);
}
/*BigImage*/
.BigImage{
    width: 100%;
    background-color: rgb(234,237,242);
    display: flex;
    justify-content: center;
    align-items: center;   
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 18px;
    padding-right: 18px;
    box-sizing: border-box;
}
.BigImage-Inner{
    max-width: 1200px;
    width: 95%;
    display: flex;
    justify-content: flex-end;
    align-items:stretch;
    
}
.BigImage-Inner-Imgbox{
    width: 50%;
    background: rgb(149,210,239);
}
.BigImage-Inner-Imgbox-Img{
    width: 100%;
    height: auto;
}
.BigImage-Inner-Textbox{
    width: 50%;
    height: auto;
    background: rgb(149,210,239);
    display: flex;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
    line-height: 180%;
}
.BigImage-Inner-TextGroup{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:  flex-start;
    margin-top: -20px;
    color: #fff;
    font-family: Helvetica, Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", メイリオ, Meiryo, sans-serif;;
}
.BigImage-Inner-TextGroup-Title{
    font-size: 22px;
    font-weight: 600;
}
.BigImage-Inner-TextGroup-Text{
    margin-top: 10px;
    font-size: 17px;
    opacity: 0.9;
}
.BigImage-Inner-TextGroup-Btn{
    width: 150px;
    height: 47px;
    background-color: rgb(95,171,244);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px rgb(116,164,187);
    margin-top: 30px;
    font-size:18px;
}
.BigImage-Inner-TextGroup-Btn-Text{
    font-size:18px;
    padding-left: 5px; 
    font-weight: 600;
    text-align:center; 
}
.BigImage-Inner-TextGroup-Btn-Text{
    margin-top: 2px;
    margin-left: 2px;
}
.BigImage-Inner-TextGroup-Btn:hover{
    box-shadow: 2px 9px 10px 3px rgb(117,165,188);  
    transition-duration:0.3s;
    transition-timing-function:ease-in-out;
}