
.Page{
    background-color: rgb(234,237,242);
    height: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Contents-SubContents-MenuGroup{
    width: 400px;
    font-family: Helvetica, Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", メイリオ, Meiryo, sans-serif;
}
.Contents-SubContents-MenuGroup-Title{
    width: 350px;
    height: 50px;
    background: rgb(201,229,254);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: rgb(95,171,244);
}
.Contents-SubContents-MenuGroup-Menubox{
    width: 350px;
    height: auto;
    background: #fff;
    border-collapse: collapse;

}
.Contents-SubContents-MenuGroup-Menubox-Column{
    display: flex;
    flex-wrap: wrap;
}
.Contents-SubContents-MenuGroup-Menubox-Column-Contents:nth-child(2n){
    border-left: 2px solid rgb(239, 239, 239);  
}
.Contents-SubContents-MenuGroup-Menubox-Column-Contents:not(:nth-child(n+3)){
    border-bottom: 2px solid rgb(239, 239, 239);  
}
.Contents-SubContents-MenuGroup-Menubox-Column-Contents{
    width: 50%;
    height: auto;
    padding: 8px;
    box-sizing: border-box;
    font-weight: 500;
}
.Contents-SubContents-MenuGroup-Menubox-Column-Contents-Icon{
    font-size: 36px;
    display: flex;
    justify-content: center;
    color: rgb(96,170,244);
    
}
.Contents-SubContents-MenuGroup-Menubox-Column-Contents-Text{
    font-size: 12px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-family: Quicksand, Helvetica, Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", メイリオ, Meiryo, sans-serif;;
}
.Contents-SubContents-MenuGroup-Menubox-Column-Contents:hover{
    background: rgb(239, 239, 239);
    transition:0.5s;
}
#Contents-SubContents-MenuGroup-Title-Fontawesome{
    margin-right: 5px;
}